html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

img {
	max-width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

header {
	width: 100%;
	background-color: #333;
	min-height: 150px;
	height: 150px;
}

header:after {
	clear:both;
	content: "";
	display: table;
}

#nav-container {
	max-width: 75%;
	margin: 0 auto;
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

#logo-container {
	max-width: 250px;
	margin-top: -50px;
}

nav a {
	text-decoration: none;
	color: white;
	margin-left: 25px;
	font-size: 1.3em;
	padding: 10px 25px
}

nav a:hover {
	color: #C44421;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	
}

#home-content {
	background: url("../images/chicken.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	height: 90%;
	}
	
#home-content h1{
	color: #eee;
	font-size: 3em;
	text-align: center;
	margin-top: 0
}

#home-content h2{
	color: #eee;
	font-size: 2.5em;
	text-align: center;
	font-style: italic;
}

.heading-wrap {
	background: rgba(0,0,0,.5);
}

footer {
	background:#333;
	height: 10%;
	color: white;
	width: 100%
}

.foot-container {
	width: 75%;
	margin: 0 auto;
	padding:25px 0
	;
}

footer p {
	margin-top: 0;
	margin-bottom: 12px	
}

.phone {
	background-image: url('../images/phone.png');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 25px;
	margin-bottom: 0;
}

.address {
	background-image: url('../images/pin.png');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 25px;
}

.selected {
	color: #C44421;
	border-bottom: 1px solid #C44421;
}

.menu-nav {
	background: #C44421;
	width: 20%;
	color: white;
	height: 740px;
	font-size: 1.5em;
	position: relative
}

.menu-nav ul {
	list-style-type: none;
	margin: 0 auto;
	width: 60%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.menu-nav li {
	padding: 20px 0;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
	cursor: pointer; 
	cursor: hand; 
}

.selectedMenu{
	color: #333;
	text-decoration: underline;
	font-weight: bold;
}

.menu-nav li:hover {
	color: #333;
	text-decoration: underline;
	font-weight: bold;
}

.menu-content {
	width: 80%;
}

.menu-heading { 
	padding-left: 10%;
	border-bottom: 2px dotted #C44421;
	display: block
}

.menu-choices {
	margin-left: 10%;
}

.menu-heading h1 {
	color: #333;
	display: inline-block;
	font-size: 2.2em;
	margin-bottom: 0.1em;
	color: #C44421;
}

.menu-heading h2 {
	color: #333;
	font-size: 1.3em;
	font-style: italic;
}

.menu-item {
	font-weight: bold;
	font-size: 1em;
	color: #333;
}

.menu-item-description {
	font-style: italic;
	margin-top: -5px;
	margin-bottom: 2em;
}

.combo-number {
	margin-right: 20px;
}

footer a {
	text-decoration: none;
	color: white;
}

/************************* 
MEDIA QUERIES 
**************************/

 @media screen and (max-width : 640px) {
	 
	 #logo-container {
		 float: none;
		 margin: 0 auto;
	 }
	 
	 nav.right {
		 float: none;
		 width: 261px;
		 margin: 0 auto;
		 padding-top: 1em;
		 padding-bottom: 1em;
	 }
	 
	 
	 
	 nav a:first-child {
		 margin-left: 0;
	 }
	 
	 #home-content h1 {
		 font-size: 1.8em;
	 }
	 
	 #home-content h2 {
		 font-size: 1.5em;
	 }
	 
 }
